body {
  margin: 0;
  font-family: Arial;
  color: white;
  background: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHlwaW5nJTIwb24lMjBsYXB0b3B8ZW58MHx8MHx8fDA%3D') no-repeat center center;
  background-size: cover;
}

.top-bar {
  background: white;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.top-bar a {
  color: green;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}



.mid-section {
  text-align: center;
  padding: 100px 20px;
  background-color: rgba(0, 0, 50, 0.6);
}



.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #4da3ff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.icons {
  margin-top: 20px;
}

.icons img {
  width: 25px;
  margin: 0 8px;
  transition: transform 0.3s;
}


.icons img:hover {
  transform: scale(1.3);
}










/* styling footer (cards at bottom) */

.skills {
  text-align: center;
  padding: 40px;
  background-color: #f9f9f9;
}

.skills h2 {
  font-size: 32px;
  color: #0056d2;
  margin-bottom: 30px;
}

.skill-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


.card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: rgb(61, 57, 57);
}

.card p {
  font-size: 14px;
  color: #555;
}